body {
    margin: 0;
    padding: 0;
}

.fundo {
    background: linear-gradient(#f5f5f5, #d2d2d2);
}

header {
    background-color: rgb(32, 32, 32);
    position: sticky;
    top: 0;
}

.logo {
    width: 250px;
    margin: 1%;
    padding: 0;
}

.corpo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding-inline: 0;
    width: 100%;
}

#corpo1 {
    margin-top: 5%;
}

.login {
    margin-top: 5px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 61, 61);
    padding: 1%;
    font-size: 20px;
    box-shadow: 5px 5px 10px;
    gap: 10px;
}

.box {
    border: solid 1px black;
    padding: 10px;
    max-width: 500px;
    min-width: 400px;
    border-radius: 4px;
    font-size: 15px;
}

.titulo {
    padding: 0;
    font-family: arial;
    margin: 0;
}

#corpo1 a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: rgb(68, 68, 68);
    transition: 0.2s;
    padding: 0;
    margin: 0;
    align-self: center;
}

#corpo1 a:hover {
    color: #4a48fc;
}

#botao {
    margin-top: 20px;
    background-color: #4a48fc;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    padding-inline: 30px;
    transition: 0.2s;
}

#botao:hover {
    background-color: #3936ec;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-inline: 0;
}

#corpo {
    display: flex;
    font-family: arial;
}

#corpo h1,
#corpo h3 {
    margin: 0;
}

#esquerda {
    display: flex;
    flex-direction: column;
    align-self: left;
    width: 20%;
    color: white;
    background-color: rgb(32, 32, 32);
    justify-content: space-between;
}

#esquerda a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(245, 241, 241);
    transition: 0.2s;
    padding: 0;
    margin: 0;
    margin-left: 45px;
    width: min-content;
}

#esquerda a:hover {
    color: #acaafd;
}

#categorias {
    display: flex;
    flex-direction: column;
}

#direita {
    width: 76%;
    padding-inline: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#deslogar {
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: rgb(68, 68, 68);
    transition: 0.2s;
}

#deslogar:hover {
    color: #716eff;
}

.cabecalho {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: end;
    column-gap: 20px;
    font-size: 10px;
}

.dia-mes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.dia {
    color: rgb(68, 68, 68);
    font-weight: 400;
}

.conteudo {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.cartao {
    background-color: rgb(219, 219, 219);
    padding-inline-start: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}